*{
    font-family: Arial;
    margin: 0;
}

.hero-image{
    background: #000000;
    background-image: url('./assets/estatesss.jpg');
    background-repeat: none;
    background-size: cover;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-section{
    padding: 5rem 9%;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.welcome{
    width: 50%;
}

.welcome .title{
    font-size: 3rem;
}

.welcome .body{
    line-height: 1.6;
    margin: 1rem 0;
    margin-bottom: 2rem;
}

.welcome a{
    text-decoration: none;
    background: hsl(240, 69%, 57%);
    padding: 1rem;
    border-radius: .7rem;
    color: white;
    font-size: .9rem;
}

.welcome-image{
    height: 20rem;
    width: 30rem;
    background-image: url(./assets/estate.jpg);
    background-size: cover;
}

.section{
    padding: 2rem 9%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.section .heading{
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.card-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}

.card-section .card{
    /* width: 20rem; */
    height: auto;
    padding-bottom: 1rem;
    background: #f9f1ec;
    border: 1px solid #e6dbd4;
}

.card-section .card .image{
    height: 15rem;
    /* background: #000000; */
    object-fit: cover;
}

.card-section .card .image img{
    width: 100%;
    height: 100%;
}

.card-section .card .card-details{
    padding: 1rem 2rem;
}

.card-section .card .card-details a{
    text-decoration: none;
    color: #000000;
}
